alabaster==0.7.12
alembic==1.5.7
altgraph==0.17
appdirs==1.4.4
apturl==0.5.2
arrow==0.16.0
asgiref==3.3.1
asn1crypto==0.24.0
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
bcbio-gff==0.6.6
bcrypt==3.1.7
beautifulsoup4==4.9.3
binaryornot==0.4.4
biopython==1.76
bleach==2.1.2
blinker==1.4
boto3==1.15.2
botocore==1.18.2
Brlapi==0.6.6
cached-property==1.5.2
certifi==2018.1.18
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-configfile==0.2.3
click-default-group==1.2.2
click-log==0.3.2
cobra==0.17.1
colorama==0.4.4
command-not-found==0.3
configparser==5.0.0
cookiecutter==1.7.2
coverage==5.1
cryptography==3.0
cupshelpers==1.0
cycler==0.10.0
datapackage==1.15.0
decorator==4.4.2
defer==1.0.6
depinfo==1.5.3
distlib==0.3.1
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
Django==3.1.3
django-extensions==3.1.2
django-filter==2.4.0
dnspython==2.1.0
docker==4.3.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
email-validator==1.1.2
entrypoints==0.2.3.post1
equilibrator-api==0.1.26
et-xmlfile==1.0.1
ete3==3.1.1
filelock==3.0.12
Flask==1.0.2
Flask-BabelEx==0.9.4
Flask-Compress==1.4.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
galileo-sdk==0.0.23
GEOparse==2.0.2
gitdb==4.0.5
GitPython==3.1.8
goatools==1.0.3
goodtables==2.5.1
gunicorn==20.0.4
html5lib==0.999999999
httplib2==0.11.3
idna==2.6
ijson==3.1.1
imagesize==1.2.0
importlib-metadata==1.6.0
importlib-resources==3.0.0
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jeepney==0.6.0
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.16.0
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
keyring==22.0.1
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
ldap3==2.9
linear-tsv==1.1.0
louis==3.5.0
lxml==4.5.2
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.2.1
matplotlib-venn==0.11.5
mccabe==0.6.1
memote==0.11.1
mistune==0.8.3
more-itertools==8.2.0
MouseInfo==0.1.3
mpmath==1.1.0
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.4
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==5.2.2
numpy==1.18.2
numpydoc==1.1.0
oauth==1.0.1
olefile==0.45.1
openpyxl==3.0.5
openshot-qt==2.4.1
optlang==1.4.4
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.2
passlib==1.7.2
patsy==0.5.1
pexpect==4.2.1
pgadmin4==4.30
pickleshare==0.7.4
Pillow==5.1.0
pipdeptree==0.13.2
pipenv==2020.11.15
pkginfo==1.7.0
pluggy==0.13.1
poyo==0.5.0
prompt-toolkit==1.0.15
protobuf==3.0.0
psutil==5.8.0
psycopg2-binary==2.8.6
py==1.8.1
pyasn1==0.4.8
PyAutoGUI==0.9.52
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydot==1.4.1
PyGetWindow==0.0.9
Pygments==2.7.4
pygobject==3.26.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.4.4
pylru==1.2.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.1.2
pyparsing==2.4.7
pyperclip==1.6.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
pyRFC3339==1.0
pyrsistent==0.16.1
PyScreeze==0.1.26
pytest==5.4.1
pytest-cov==2.8.1
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.1
python-debian==0.1.32
python-dotenv==0.15.0
python-editor==1.0.4
python-engineio==3.9.0
python-libsbml==5.18.3
python-libsbml-experimental==5.18.0
python-slugify==4.0.1
python-socketio==4.3.1
python3-xlib==0.15
PythonCyc==2.0.1
PyTweening==1.0.3
pytz==2020.5
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
readme-renderer==28.0
regex==2020.7.14
reportlab==3.4.0
requests==2.23.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
rfc3986==1.4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sbtab==0.9.73
scikit-learn==0.24.1
scipy==1.4.1
scour==0.36
seaborn==0.10.0
SecretStorage==3.3.0
selenium==3.141.0
simpleeval==0.9.10
simplegeneric==0.8.1
simplejson==3.16.0
six==1.14.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.0.0
soupsieve==2.0.1
speaklater==1.3
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
sqlparse==0.4.1
ssh-import-id==5.7
sshtunnel==0.4.0
statistics==1.0.3.5
statsmodels==0.11.1
swiglpk==4.65.1
sympy==1.5.1
system-service==0.3
systemd-python==234
tableschema==1.19.4
tablib==2.0.0
tabulator==1.52.3
terminado==0.7
testpath==0.3.1
text-unidecode==1.3
texttable==1.6.3
threadpoolctl==2.1.0
tornado==4.5.3
tqdm==4.49.0
traitlets==4.3.2
travis-encrypt==1.1.2
twine==3.3.0
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.22
usb-creator==0.3.3
venn==0.1.3
virtualenv==20.4.0
virtualenv-clone==0.5.4
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
whatsapp-web==0.0.1
wrapt==1.11.2
WTForms==2.2.1
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
zope.interface==4.3.2
